/nbproject/private/
/build/
/jacoco.exec*
/.jacocoverage
/dist/
/nbproject/
/target
/build.xml
screenshot*.png

### This stuff here is for the eclipse workspace
/target/
.classpath
.project
.settings/
